$roboto-font-path: "~materialize-css/fonts/roboto/";

$primary-color: color('orange','darken-3');
$secondary-color: color('lime','darken-2');


$table-striped-color: yellow;
$toast-color: green;

.modal {
	width: 45% !important;
}