<template>
	<div class="container">
		<div class="row">
			<h2>Nova conta</h2>
			<form name="form" @submit.prevent="submit">
				
				<div class="row">	

					<div class="input-field col s6">
						<label class="active">Vencimento: </label>
						<input placeholder="Informe a data" type="text" v-model="bill.date_due | dateFormat 'pt-BR'"/>
					</div><!-- input-field -->

					<div class="input-field col s6">
						<label class="active">Valor: </label>
						<input type="text" v-model="bill.value | numberFormat 'pt-BR'"/>
					</div><!-- input-field -->
				</div><!-- row -->


				<div class="row">

					<div class="input-field col s6">
						<label class="active">Nome: </label>
						<select id="name" v-model="bill.name | toUppercase">
							<option value="" disabled selected>Selecione um nome</option>
							<option v-for="o in names" value="{{ o }}">{{ o | toUppercase }}</option>
						</select>
					</div><!-- input-field -->


					<div class="input-field col s6">
						<input id="pago" type="checkbox" v-model="bill.done"/>
						<label for="pago">Pago?</label>
					</div><!-- input-field -->

				</div><!-- row -->


				<div class="row">
					<div class="input-field col s12">
						<input class="btn btn-small right" type="submit" value="Enviar"/>
					</div>
			
				</div><!-- row -->

			</form>
		</div>
	</div>
</template>

<script type="text/javascript">

	import {BillResource} from '../resources';
	import {BillPay} from '../bill';

	const names = [
		'Conta de luz',
		'Conta de água',
		'Conta de telefone',
		'Supermercado',
		'MRV',
		'Gasolina'
	];

	export default {

		data(){
			return {
				formType: 'insert',
				names: names,
				bill:  new BillPay()
			};
		},
		created(){
			if(this.$route.name == 'bill-pay.update'){
				this.formType = 'update';
				this.getBill(this.$route.params.id);
				//return;
			}

		},

		ready(){

			$('#name').material_select();
		},
		
		methods: {
			submit(){

				//var data = Vue.util.extend(this.bill, {date_due: this.getDateDue(this.bill.date_due)});
				var data = this.bill.toJSON();
				if(this.formType == 'insert'){
					//this.$parent.$children[1].bills.push(this.bill);	
					//this.$parent.$refs.billListComponent.bills.push(this.bill);
					//this.$dispatch('new-bill',this.bill);
					//this.$root.$children[0].billsPay.push(this.bill);

					BillResource.save({},data).then((response) => {
						Materialize.toast('Conta criada com sucesso!', 4000);
						this.$dispatch('change-info');
						this.$router.go({name: 'bill-pay.list'});
					});
					

				} else {

					BillResource.update({id: this.bill.id}, data).then((response) => {
						Materialize.toast('Conta atualizada com sucesso!', 4000);
						this.$dispatch('change-info');
						this.$router.go({name: 'bill-pay.list'});
					});
				}

			},
			getBill(id){

				BillResource.get({id: id}).then((response) => {
					//this.bill = response.data;
					this.bill = new BillPay(response.data);
				});
			},
			getDateDue(date_due){
				let dateDueObject = date_due;
				if(!(date_due instanceof Date)){
					dateDueObject = new Date(date_due.split('/').reverse().join('-')+"T03:00:00");
				}

				return dateDueObject.toISOString().split('T')[0];
			}
		},

		events: {
			//'change-formType': function(formType){
			//	this.formType = formType;
			//},
			//'change-bill': function(bill){
			//	this.bill = bill;
			//},
		}
	};
</script>