<template>
	<h1>{{ title }}</h1>

	<h2>Saldo: {{ totalBalance | currency 'R$ ' 2 }}</h2>

	<h4>Receber: {{ totalReceive | currency 'R$ ' 2 }} / Pagar: {{ totalPay | currency 'R$ ' 2 }}</h4>
	<hr>
</template>

<script type="text/javascript">

	export default {

		data(){
			return {

				title: "Dashboard",

				totalPay: 0,
				totalReceive: 0,
				totalBalance: 0,
			};
		},

		created(){

			var billsReceive = this.$root.$children[0].billsReceive,
				billsPay = this.$root.$children[0].billsPay,
				totalBalance = 0,
				totalReceive = 0,
				totalPay = 0;

			for(var i in billsReceive){
				if(billsReceive[i].done){
					totalReceive += billsReceive[i].value;
				}
			}

			for(var i in billsPay){
				if(billsPay[i].done){
					totalPay += billsPay[i].value;
				}
			}

			//console.log(totalPay);
			this.totalReceive = totalReceive;
			this.totalPay = totalPay;

			this.totalBalance = totalReceive - totalPay;

		}
		
	};
</script>