<template>
	<form name="form" @submit.prevent="submit">
		<label>Recebimento: </label>
		<input type="text" v-model="bill.date_due"/>
		<hr>
		<label>Nome: </label>
		<select v-model="bill.name | toUppercase">
			<option v-for="o in names" value="{{ o }}">{{ o | toUppercase }}</option>
		</select>
		<hr>
		<label>Valor: </label>
		<input type="text" v-model="bill.value | numberFormat"/>
		<hr>
		<label>Recebida?</label>
		<input type="checkbox" v-model="bill.done"/>
		<hr>
		<input type="submit" value="Enviar"/>
	</form>
</template>

<script type="text/javascript">

	import {BillReceiveResource} from '../resources';

	export default {

		//props: ['bill','formType'],
		data(){
			return {
				formType: 'insert',
				names: [
					'Freelance',
					'Investimento',
					'Empresa',
					'ML'
				],
				bill:  {
					date_due: '',
					name: '',
					value: 0,
					done: false
				}
			};
		},
		created(){
			if(this.$route.name == 'bill-receive.update'){
				this.formType = 'update';
				this.getBill(this.$route.params.id);
				//return;
			}

			//this.formType = 'insert';

		},
		methods: {
			submit(){

				if(this.formType == 'insert'){

					BillReceiveResource.save({},this.bill).then((response) => {
						this.$dispatch('change-info');
						this.$router.go({name: 'bill-receive.list'});
					});
					
				} else {

					BillReceiveResource.update({id: this.bill.id}, this.bill).then((response) => {
						this.$dispatch('change-info');
						this.$router.go({name: 'bill-receive.list'});
					});
				}


				//this.$router.go({name: 'bill-receive.list'});
				
				//this.$parent.activedView = 0;
				//this.$dispatch('change-activedView',0);
			},
			getBill(id){

				BillReceiveResource.get({id: id}).then((response) => {
					this.bill = response.data;
				});
			}
		}
	};
</script>