<template>
	<h1>{{title}}</h1>

	<h3 :class="{'gray': status === false, 'green': status === 0, 'red': status > 0}">{{status | statusGeneralReceive }}</h3>

	<menu-component></menu-component>
	
	<router-view></router-view>

	<hr>
</template>

<script type="text/javascript">
	//require('./bill-receive-menu.component');
	import billReceiveMenuComponent from './bill-receive-menu.vue';

	import {BillReceiveResource} from '../resources';

	export default {
		components: {
			'menu-component': billReceiveMenuComponent,
		},

		data(){
			return {

				title: "Contas a receber",
				status: false,
				total: 0

			};
		},

		created(){
			this.updateStatus();
			this.updateTotal();
		},
		methods: {

			calculateStatus(bills){
				if(!bills.length){
					this.status = false;
				}
				let count = 0;
				for(let i in bills){
					if(!bills[i].done){
						count++;
					}
				}
				this.status = count;
			},

			updateStatus(){
				BillReceiveResource.query().then((response) => {
					this.calculateStatus(response.data);
				});
			},
			updateTotal(){
				BillReceiveResource.total().then((response) => {
					this.total = response.data.total;
				});
			}
		},
		events: {
			'change-info'(){
				this.updateStatus();
				this.updateTotal();
			}

		}
		
	};

</script>


<style type="text/css">
	.minha-classe {
		background-color: burlywood;
	}
	.red {
		color: red;
	}
	.green {
		color: green;
	}
	.gray {
		color: gray;
	}
</style>