<template>
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Dt recebimento</th>
					<th>Nome</th>
					<th>Valor</th>
					<th>Recebido?</th>
					<th>Ações</th>
				</tr>
				
			</thead>
			
			<tbody>
				<tr v-for="(index,o) in bills">
					<td>{{index+1}}</td>
					<td>{{o.date_due}}</td>
					<td>{{o.name | toUppercase}}</td>
					<td>{{ o.value | numberFormat }}</td>
					<td class="minha-classe" :class="{'recebido': o.done, 'nao-recebido': !o.done}">
						{{ o.done | doneLabelReceive }}
					</td>
					<td>
						<a v-link="{ name:'bill-receive.update', params: {id: o.id} }">Editar</a>
						|
						<a href="#" @click.prevent="deleteBill(o)">Deletar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script type="text/javascript">

	import {BillReceiveResource} from '../resources';

	module.exports = {
		data(){
			return {
				bills: []
			};
		},

		created(){
			BillReceiveResource.query().then((response) => {
				this.bills = response.data;
			});
		},

		methods: {

			deleteBill(bill){
				if(confirm('Deseja excluir?')){
					BillReceiveResource.delete({id: bill.id}).then((response) => {
						this.bills.$remove(bill);
						this.$dispatch('change-info');
					});
				}
			}

		}
	};
</script>
<style type="text/css">
	.recebido {
		color: green;
	}
	.nao-recebido {
		color: red;
	}
</style>